body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:  rgb(236, 206, 163);
}

header.topPage {
    display: flex;
    background-color: rgb(62, 23, 5);
}
footer{
    padding:25px;
    background-color: brown;;
}
.lienfooter{
    text-transform:  uppercase;
    color: rgb(236, 206, 163);
    padding : 15px;
    align-content:space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
   

}
.lienfooter:hover{
    text-decoration: underline;
}
.copyright{
    padding : 15px;
    background-color: rgb(236, 206, 163);
    color: brown;
    text-align:  center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
}
.logo{
    display: block;
    width: 125px;
    height: auto;
}


ul li{
    display: inline-block;
    list-style-type: none;
}

a {
    color: rgb(236, 206, 163);
}







h1 {
    color: rgb(236, 206, 163);
    padding: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:  center;
}


h2 {
    color: rgb(65, 40, 5);
    font-size: 16px;
    padding-bottom: 45px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h3 {
    color:brown;
    text-align: center;
    font-size: 20px;
    padding : 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}
h4 {
    background-color: brown ;
    color: rgb(236, 206, 163);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:  center;
    padding: 25px;
}

@media screen and (min-width:200px) and (max-width:640px) {
    h1{
        font-size: 16px;
    }
}

@media screen and (min-width:640px) and (max-width:800px) {
    h1{
        font-size: 18px;
    }

}
@media screen and (min-width:800px) and (max-width:1024px) {
    h1{
        font-size: 20px;
    }
}
@media screen and (min-width:1024px) {
    h1{
        font-size: 24px;
    }
}

    



input#menuBurger {
    display:none;
}



nav#navMenu{
    height: 0;
    opacity:0 ;
}
nav#navMenu ul{
    list-style: none;
}
nav#navMenu ul li a{
text-transform: uppercase;
background: rgb(211, 159, 39);
border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
border-radius: 15px;
margin:10px;
color: rgb(62, 23, 5);
text-decoration: none;
display: flex;
justify-content: center;
padding: 1rem;
}
nav#navMenu ul li a:hover{
    text-decoration: underline;
}

label[for="menuBurger"]{
    margin: 1rem;
    display: block;
    width: 30px;
    height: 30px;
}
input#menuBurger:checked~.contenu {
    margin-top: 18rem;
}
input#menuBurger:checked~nav#navMenu {
    transition: opacity 1s;
    opacity: 1;
}

@media screen and (min-width:37rem) {
    body{
        overflow-x: hidden;
    }
    
input#menuBurger:checked~.contenu {
    margin: 0 0 0 9rem;
}
nav#navMenu ul{
    width: 9rem;
}
}
@media screen and (min-width:62.75rem) {
    label[for="menuBurger"]{
        display: none;
    }
    nav#navMenu {
        height: auto;
        opacity :1;
    }
    nav#navMenu ul{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: auto;
        margin:1rem auto
    }
    
}
