header{
    padding: 30px;
    background-color: rgb(30, 189, 189);
    height: 50px;
}

.bouton_telephone{
    display:block;
    justify-content:space-around;
    padding-top: 1rem;
    height: 25px;
    width: 260px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.5rem;
    font-weight: 600;
    text-align:center;
    box-sizing: 25px 220px;
    color: white;
    border-radius: 15px;
    border-color: white;
    border:solid;
    background-color: rgb(23, 142, 142);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.49);
    
}

.bouton_telephone:hover{
    
   
    font-weight: 800;
    color: rgb(14, 74, 74);
    border-color: rgb(14, 74, 74);
    background-color: rgb(180, 232, 232);
    
}

.menu {
    background-color: rgb(212, 208, 208);
    display:flex;
    justify-content:flex-end;
}

.bouton { 
    display:block;
    justify-content:space-around;
    margin: 5px;
    padding: 5px;
    padding-top: 12px;
    height: 25px;
    width: 120px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    font-variant: small-caps;
    text-align:center;
    box-sizing: 25px 200px;
    border-radius: 15px;
    background-color:white;
}

.bouton:hover { 
    
    font-weight: 800;
    background-color: rgb(239, 238, 238);
}

    

.logo{
    width: clamp (150px, 15vw, 180px);
    height: auto;
    display: flex;
    justify-content: flex-start;
   
}



h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:3rem;
    font-weight: 800;
    text-align:center;
    color: rgb(11, 72, 72);
}

h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    text-align:center;
    color: rgb(11, 72, 72);
}

h3{
    margin:10px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    text-align:left;
    color: rgb(14, 74, 74);
}

h4{
    margin:10px;
    padding:15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    text-align:left;
    color: rgb(11, 72, 72);
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    text-align:center;
    color: rgb(11, 72, 72);
    padding: 20px;
}

.conteneur {
    width: clamp (150px, 15vw, 180px);
    background-image: url("images/cles2.jpg");
    padding: 30px;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:400px ;
    gap: 20px;
}

.box_1 {
    grid-column:1 / 4;
    grid-row: 1 / 2 ;
    width: 100%;
    height: 100%;
    overflow : hidden;
    background-color:  rgb(152, 210, 210,0.8);
    padding 50px;
    margin: auto;
    border-radius: 10px;
    
}

.box_1 img{
    width: 100%;
    height: 100%;
    object-fit : cover;
    display : block;
}

.box_2{
    width: 100%;
    height: 100%;
    overflow : hidden;
    grid-column:4 / 6;
    grid-row: 1 / 2 ;
    background-color:  rgb(152, 210, 210,0.8);
    padding 25px;
    margin: 25px;
    border-radius: 10px;
    
}
.box_2 img{
    width: 100%;
    height: 100%;
    object-fit : cover;
    display : block;

}


a:-webkit-any-link {
    color:rgb(23, 142, 142);
    cursor: pointer;
    text-decoration:none;
}
a:hover {
    color: rgb(12, 72, 72);
}

.fond{
    background-color:  rgb(152, 210, 210,0.8);
    padding 25px;
    margin: 25px;
    border-radius: 10px;;
   
}

footer{
    padding: 20px;
    padding-bottom: 20px;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:180px ;
    gap: 20px;
    background-color: rgb(152, 210, 210,0.8);
}
.petitlogo{
    grid-column:1 / 4;
    grid-row: 1 / 2 ;
    width: 200px;
    height: auto;
    display: flex;
    justify-content:left;
}

.lienfooter{
    grid-column:4 / 6;
    grid-row: 1 / 2 ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-variant: small-caps;
    padding: 15px;
    font-weight: 600;
    text-align:left;
}

.copyright{
    background-color: rgb(113, 112, 112);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-variant: small-caps;
    padding: 15px;
    font-weight: 600;
    text-align:center;

}
label{
    margin: 30px;
    margin-right: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-variant: small-caps;
    padding: 15px;
    font-weight: 600;
    text-align:left;

}


::placeholder{
    color: rgb(23, 142, 142);
}

#radio{
    margin: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-variant: small-caps;
    padding: 15px;
    font-weight: 600;
    text-align:left;

}

#name{
    display: block;
    width: 250px;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    width: 250px;
    border: 2px solid rgb(13, 82, 82);
    border-radius: 15px;
    background-color:   rgb(186, 236, 236);
    font-size: 14px;
}

#tel{
     display: block;
    width: 250px;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    width: 250px;
    border: 2px solid rgb(13, 82, 82);
    border-radius: 15px;
    background-color:   rgb(186, 236, 236);
    font-size: 14px;
}
#email{
    display: block;
    width: 250px;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    width: 250px;
    border: 2px solid rgb(13, 82, 82);
    border-radius: 15px;
    background-color:   rgb(186, 236, 236);
    font-size: 14px;
}
#message{
     display: block;
    width: 250px;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    width: 250px;
    border: 2px solid rgb(13, 82, 82);
    border-radius: 15px;
    background-color:   rgb(186, 236, 236);
    font-size: 14px;
}
