#{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff8f0;
    color: #3a2c20;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #c58b59;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 150px;
    margin-right: 10p;
}

.logo h1 {
    animation: blink 1.5s infinite;
}



.logopetit {
    height: 80px;
    margin-right: 10p;
}


@keyframes blink {
    0%,100% {opacity:1;}
    50% {opacity: 0.3;}
}

.burger {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap:20px;
}

nav a {
    color : white;
    text-decoration: none;
    font-weight: bold;
}

.hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.presentation {
    margin: 30px auto;
    width: 80%;
    background-color: #fff;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    font-size: 1.2rem;
}

.produits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px;
}

.card {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.card button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #c58b59;
    border: none;
    color:white;
    cursor:pointer;
    border-radius: 10px;
}

.commande {
    padding:30px;
    text-align: center;
}

select, button {
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: #c58b59;
    color:white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.photo {
    max-width: 600px;
    height: auto;
}

.commande select,
.commande button {
    width: 90%;
    max-width: 400px;
}

.burger {
    display: none;
    font-size: 30px;
    width: 30px;
    cursor: pointer;
    color: white;
}



.copyright{
    background-color: #c58b59;
    font-family:Arial, sans-serif
    font-size: 14px;
    font-variant: small-caps;
    padding: 15px;
    font-weight: 600;
    text-align:center;
}

@media (max-width:768px) {

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .burger {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: white;
        margin-left: auto;
    }

    nav {
        width: 100%;
        display: none;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        background-color: #c58b59;
        width: 100%;
    }

    nav ul li {
        padding: 15px;
        border-top: 1px solid rgba(255,255,255,0.3);
    }

    .presentation {
        width: 95%;
        font-size: 1rem;
    }

    .hero img {
        height: 200px;
    }

    footer {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
