body {
    font-family: Arial;
    background: #f5f7fa;
}

.container {
    width: 900px;
    margin: 40px auto;
}

table {
    width: ;
    border-collapse: collapse;
}

th, td {
   padding: 10px;
   border: 1px solod #ddd;
   text-align: center;
}

.low-stock {
    background: #ffdddd;
}

button, a.button {
    background: #3498db;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
}

.delete {
    background: #e74c3c;

}
