body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #1e0242;
    color: white;
}

#board {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:5px;
    width: 90vw;
    max-width: 320px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #30046b;
    border: 2px solid #4e139b;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell:hover {
    background-color: #411779;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}
